<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="fsxfmt/style.css" />
    <script type="text/javascript" src="fsxfmt/tips.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
      </div>
    </div>
  </body>
  </html>
